.approaches{ margin: 95px auto;}

.theme { border-color: transparent; margin-top: 6%; }
.theme .iconCard, .modalCards .iconCard{ width: 30%; margin: 0px; padding: 5px; margin-bottom: 25px; margin-top: 20px; }

.theme .content .title, .modalCards .content .title{ font-weight: bold; font-size: 20px; text-align: left; margin: auto 6px; }
.theme .content .description, .modalCards .content .description { margin: 0px 35px; text-align: left; font-size: 17px; }
.theme .content, .modalCards .content { text-align: center; padding: 5px; border-radius: 25px; border-color: transparent; color: white; background: #1e232f; margin: 0px 10px; height: 370px; transition: transform 0.3s ease; cursor: pointer; }
.theme .content:hover, .modalCards .content:hover { transform: scale(1.02); box-shadow: 0 0 5px rgba(255, 255, 255, 0.6); background: #151821;}
.theme .content .icon, .modalCards .content .icon { display: flex; align-items: center; margin: 10px 20px;}

.modalOverlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); display: flex; align-items: center; justify-content: center; z-index: 9999; overflow: auto; }
.modalContent { background: #fff; padding: 30px; border-radius: 16px; position: relative; text-align: left; max-height: 90vh; overflow-y: auto; }

.modalCategory { font-size: 10px !important; margin-bottom: 20px; }
.modalCategory .content:hover { transform: scale(1.02); box-shadow: 0 0 5px rgba(255, 255, 255, 0.6); }

.closeBtn { position: absolute; top: 15px; right: 20px; font-size: 40px; background: transparent !important; border: 2px solid black; cursor: pointer !important; padding: 0px 10px !important; line-height: 40px; }

.card, .modalCards {  margin: 0px 55px; display: flex;flex-direction: row; flex-wrap: wrap;}

.introduction { display: flex; align-items: center; text-align: center; width: 100%; color: #448e82; }
.introduction::before, .introduction::after { content: ""; flex: 1 1; border-bottom: 2px solid #009688; margin: 0 20px; }

.introduction p { white-space: nowrap; font-weight: bold; }
.introduction p:first-child { text-align: center; font-size: 30px; font-weight: bold;  }

.card button:hover, .modalCards .buttonp:hover { background: #39776d !important; }
.card .description, .modalCards .description { position: relative; text-align: center; margin: 20px !important; }

.buttons button:first-child { background: #1e232f !important; margin-bottom: 20px !important; }
.buttons button:first-child:hover { background: #414a61 !important; }

.buttons { text-align: center; }
.buttont a { color: white; text-decoration: none; }

.modalCards .content { height: 250px; }


@media (max-width: 768px) {
    .approaches{ margin: 45px auto;}
    .card { margin: 0px 10px; }

    .buttons br {display: none;}
    .introduction p:first-child { font-size: 24px; margin: auto; }
    .introduction::before, .introduction::after{ display: none;}

    .theme .iconCard, .modalCards .iconCard { width: 20%; }

    .theme .content{ height: 250px; }
    .theme .content .title , .modalCards .content .title { font-size: 18px; }
    .theme .content .icon, .modalCards .content .icon { margin: 0px 17px; }
    .theme .content .description, .modalCards .content .description { font-size: 14px; margin: 0px 20px !important; }

    .modalCards { margin: 0px; }
    .modalContent { padding: 15px; }

    .closeBtn { position: fixed; top: 15%; background: #009688 !important; font-size: 40px !important; }
    .closeBtn p{ font-size: 23px; text-align: center; FONT-WEIGHT: 600; }
}