.header { justify-content: space-between; gap: 1.5rem; flex-wrap: wrap; }

.logo { max-width: 17%; transition: transform 0.3s ease; margin: 0 50px; cursor: pointer; }
.logo:hover { transform: scale(1.05); }

.nav { display: flex; gap: 1.5rem; align-items: center; }
.navLinks { transition: all 0.3s ease-in-out; gap: 2.5rem; }

nav a { position: relative; text-decoration: none !important; color: #1e232f !important; font-weight: 600 !important; font-size: 16px !important; margin-top: -35px; transition: color 0.3s ease !important; }
nav a:hover, nav a:focus { color: #198754 !important; }
nav a::after { content: ''; transition: width 0.3s ease; }
nav a:hover::after, nav a:focus::after { width: 100%; }

.profileImg { width: 100%; position: relative; display: block; }
.linha { height: 1px; background-color: #6c757d; }

.main { margin-left: 50px !important; }
.menuTitle { padding: 0 50px; }
.menuTitle span:first-child { font-size: 42px; }
.menuTitle p { font-size: 20px !important; }

.headerC { padding-top: 3rem !important; padding-bottom: 0rem !important; }

.hamburger { display: none; flex-direction: column; cursor: pointer; gap: 5px; z-index: 2000; position: fixed; flex-wrap: nowrap; align-items: flex-end;}
.hamburger span { width: 25px; height: 2px; background-color: #212552; transition: all 0.3s ease;}

.hamburger.open span:nth-child(1) { transform: rotate(45deg) translate(4px, 4px); }
.hamburger.open span:nth-child(2) { opacity: 0; }
.hamburger.open span:nth-child(3) { transform: rotate(-45deg) translate(6px, -6px); }


@media (max-width: 768px) {

  .menuTitle span:first-child { font-size: 30px; }
  .menuTitle p { font-size: 14px !important; }
  .menuTitle br:nth-of-type(2), .menuTitle br:nth-of-type(5) { display: none; }
  
  .text-muted { font-size: 14px; }
  .logo { max-width: 35%; margin: auto; }
  .profileImg { width: 100%; }

  .header { margin-bottom: 0px !important; }
  .header .gap-5 { gap: 12px !important; }

  .main { margin: 0px 10px !important; text-align: center; }

  .hamburger { display: flex; position: fixed; background: white; padding: 10px 5px; border-radius: 5px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); top: 20px; margin-right: 15px; }

  .navLinks { position: fixed; top: 0px; left: 0; right: 0; background: white; flex-direction: column; align-items: center; gap: 1.5rem; padding: 20px 0; 
    transform: translateY(-150%); opacity: 0; pointer-events: none; }

  .navLinks.open { transform: translateY(0); opacity: 1; pointer-events: all; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); background: white; z-index: 99;
    background-image: url(/src/Images/logo\ preto.png); background-size: 150px; padding: 45px 0px; background-position-y: 75px; background-repeat: no-repeat; background-position-x: 220px;}
  
      nav > a {
        margin: -7px auto;
        padding: 0px 30px;
        width: 190px;
        right: 155px;
        border-bottom: 0.1px solid #e1e1e1;
        font-size: 13px !important;
        text-align: left;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
  
}
