.cards { margin: 50px auto; flex-wrap: wrap; }

.iconService { width: 90%; border-radius: 15px; box-shadow: 0 10px 8px rgba(0, 0, 0, 0.20); }

@media (max-width: 768px) {

    .clinicIntroduction p:first-child { text-align: center; font-size: 24px;}
    .clinicIntroduction .description { padding: 5px; font-size: 14px; text-align: justify; margin: 10px 15px; }

    .clinicIntroduction p:first-child { font-size: 24px; margin-bottom: 15px; }
    
    .iconService{ margin-top: 30px; width: 100%; display: block; border-radius: 0px; }

    .cards { margin: 25px auto !important; }    
    .card:last-child{ position: relative; z-index: -2; top: -35px; }

    .content { position: relative; overflow: hidden; }      
    .content::before { content: ''; position: absolute; top: 10px; left: 0; width: 100%; height: 80px; background: white;  border-bottom-left-radius: 100% 80px; border-bottom-right-radius: 100% 80px; z-index: 2;}

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .cards { align-items: center !important;}  
}
