body {
    font-family: 'Montserrat', sans-serif;
  }

.header {
    background-color: #d1ceab;;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header ul {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .menu-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    margin-right: 20px;
    color: #fff;
    fill: #fff;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .menu-link {
    text-decoration: none;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s;
  }
  
  .menu-link:hover {
    color: #0056b3;
  }
  