.icon-herself {
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.20);
}

.herself-introduction p:first-child { text-align: center; font-size: 30px; font-weight: bold; margin-bottom: 40px; }
.herself-introduction .description {
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    margin: 10px 40px;
}

.herself .herself-introduction .buttonp { margin-top: -33px !important; z-index: 9;     display: flex
    ;}
.herself .buttonp:hover { background: #39776d !important; }

.buttonp a {
    color: white;
    text-decoration: none;
}

.herself-card {
    margin-top: 50px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
.herself-introduction .description {
    padding: 0px;
    font-size: 14px;
    text-align: justify;
    margin: 10px 30px;
}

.icon-herself {
    width: 100%;
    margin-top: 20px;
}

.herself-introduction p:first-child { 
    font-size: 24px;
    margin-bottom: 15px;
}

.herself-card {
    margin-top: 30px;
}

}