.feedbacks {
    background: #ebebeb !important;
    padding: 5% 10%;
    max-width: max-content;
}

.feedback-introduction p:first-child { text-align: center; font-size: 30px; font-weight: bold; margin-bottom: 40px; }
.buttonp a {
    color: white;
    text-decoration: none;
}